.maincardcontainer {
  position: relative;
  min-width: 400px;
  width: 40vw;
  height: 320px;

}

.none {
  display: none;
}

.cardContent {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.choice {
  cursor: pointer;
  padding: 4px;
  padding-left: 8px;
  margin-top: 2px;
}

.choice:hover {
  background: blue;
}

.choice:active {
  background: pink;
}

.cardQuestion {
  border-bottom: 1px solid black;
}

.thecard {
  position: absolute;
  width:100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.thecardclick{
  position: absolute;
  width:100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transform: rotateY(180deg)
}

.thefront{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #ffc728;
  border-radius: 10px;
  color: #333;
}

.theback{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #ffc728;;
  color: #333;
  border-radius: 10px;
  transform: rotateY(180deg)
}