.body {
  margin: 0;
  background-color: rgb(250, 250, 132);
}

.cardandscore {
  display: flex;
}

.goodorbad {
  display: block;
  height: 10%;
  margin-top: 20%;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
}

.gameContent {
  display: flex;
  margin-left: 8%;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

.mainCardOut {
  position: relative;
  animation-name: out;
  font-size: 0;
  animation-duration: 2s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
}

@keyframes out {
  from {
    width: 40vw;
    left: 0vw;
    height: 320px;
    margin-top: 0%;
    transform: rotate(720deg);
    font-size: 50px;
  }
  to {
    width: 0px;
    height: 0px;
    left: 13vw;
    margin-top: 16%;
    min-width: 0;
    transform: rotate(0);
    font-size: 0;
  }
}

.toggleCard {
  display: flex;
  justify-content: space-between;
  bottom: 0%;
}

.maincardcontainer {
  position: relative;
  min-width: 400px;
  width: 40vw;
  height: 320px;
  animation-name: in;
  animation-duration: 2s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
}


@keyframes in {
  from {
    width: 0px;
    height: 0px;
    left: 13vw;
    margin-top: 16%;
    min-width: 0;
    transform: rotate(0deg);
    font-size: 0;
  }
  to {
    width: 40vw;
    left: 0vw;
    height: 320px;
    margin-top: 0%;
    transform: rotate(720deg);
    font-size: 50px;
  }
}

.titleCard {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
}

.none {
  display: none;
}

.cardContent {
  padding: 10px;
  display: flex;
  flex-direction: column;
  animation-duration: 1.6s;
  animation-name: textin;
  transition-property: transform;
}

@keyframes textin {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.finishedGame {
  animation-duration: 1.6s;
  animation-name: textin;
  transition-property: transform;
  display: flex;
  flex-direction: column;
  margin-top: 21.5%;
  margin-left: 8%;
}

.backButtons {
  border: 1px solid black;
  margin-top: 3%;
  padding: 4px;
  width: 20%;
  cursor: pointer;
}

.backButtons:hover {
  background-color: yellow;
}

.backButtons:active {
  color: white;
}

.choice {
  cursor: pointer;
  padding: 4px;
  padding-left: 8px;
  margin-top: 2px;
  border-bottom: 1px dashed black;
}

.choiceG {
  cursor: pointer;
  padding: 4px;
  padding-left: 8px;
  margin-top: 2px;
  border-bottom: 1px dashed black;
  background: green;
}

.choiceB {
  cursor: pointer;
  padding: 4px;
  padding-left: 8px;
  margin-top: 2px;
  background: red;
  border-bottom: 1px dashed black;
}

.choiceN {
  cursor: pointer;
  padding: 4px;
  padding-left: 8px;
  margin-top: 2px;
  border-bottom: 1px dashed black;
}

.choice:hover {
  background: blue;
}

.choice:active {
  background: pink;
}

.cardQuestion {
  border-bottom: 1px solid black;
}

.thecard {
  position: absolute;
  width:100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.thecardclick{
  position: absolute;
  width:100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transform: rotateY(180deg)
}

.thefront{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #ffc728;
  border-radius: 10px;
  color: #333;
}

.theback{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #ffc728;;
  color: #333;
  border-radius: 10px;
  transform: rotateY(180deg)
}

.splashPage {
  width: 100%;
  height: 100%;
  display: flex;
  margin-left: 3%;
  margin-top: 2%;
  flex-direction: column;
}

.splashContent {
  display: flex;
}

.splashButtons {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  margin-right: 2%;

}

.splashButton {
  margin-bottom: 6%;
  border: 1px solid black;
  border-radius: 4px;
  padding: 6%;
  cursor: pointer;
}

.splashButton:hover {
  background: yellow;
}

.splashButton:active {
  background: rgb(199, 199, 19);
}

.content {
  background-image: url('deskpic.jpg');
  width: 100vw;
  height: 100vh;
}
.gameTitle {
  color: rgb(117, 117, 33);
  margin: 0;
  font-size: 55px;
  padding-bottom: 1%;
}

.score {
  display: flex;
  flex-direction: column;
  bottom: 0%;
  color: white;
  margin-left: 5%;
  align-self: flex-end;
  animation-duration: 1.6s;
  animation-name: textin;
  transition-property: transform;
}

.timer {
  margin: auto;
  padding-bottom: 45%;
}

.scoreWord {
  margin: auto;
}

.scoreNumber {
  margin: auto;
}

.instructions {
  font-size: 27px;
  color: white;
  width: 40%;
  height: 30%;
  margin-top: 19%;
  margin-left: 15%;
}